# Pandas challenges

Read the `veahicles.csv` dataframe and store it in a variable called `cars`:

In [1]:
import pandas as pd
cars = pd.read_csv('data/vehicles.csv')

Explore the dataset:

- How many rows and columns are there?

- What are the data types of the columns?

- Are there missing values?

- What are the ranges / distributions of the numerical columns?

- What are the value counts for the categorical columns?

In [2]:
cars.shape

(35952, 15)

In [3]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make                     35952 non-null  object
 1   Model                    35952 non-null  object
 2   Year                     35952 non-null  int64
 3   Engine Displacement      35952 non-null  float64
 4   Cylinders                35952 non-null  float64
 5   Transmission             35952 non-null  object
 6   Drivetrain               35952 non-null  object
 7   Vehicle Class            35952 non-null  object
 8   Fuel Type                35952 non-null  object
 9   Fuel Barrels/Year        35952 non-null  float64
 10  City MPG                 35952 non-null  int64
 11  Highway MPG              35952 non-null  int64
 12  Combined MPG             35952 non-null  int64
 13  CO2 Emission Grams/Mile  35952 non-null  float64
 14  Fuel Cost/Year           35952 non-null  int64
dtypes: float64(4), int64(5), object(6)
memory usage: 4.1+ MB

In [4]:
cars.isna().sum()

Make                       0
Model                      0
Year                       0
Engine Displacement        0
Cylinders                  0
Transmission               0
Drivetrain                 0
Vehicle Class              0
Fuel Type                  0
Fuel Barrels/Year          0
City MPG                   0
Highway MPG                0
Combined MPG               0
CO2 Emission Grams/Mile    0
Fuel Cost/Year             0
dtype: int64

In [5]:
cars.describe()

,Year,Engine Displacement,Cylinders,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
count,35952.00000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000
mean,2000.71640,3.338493,5.765076,17.609056,17.646139,23.880646,19.929322,475.316339,1892.598465
std,10.08529,1.359395,1.755268,4.467283,4.769349,5.890876,5.112409,119.060773,506.958627
min,1984.00000,0.600000,2.000000,0.060000,6.000000,9.000000,7.000000,37.000000,600.000000
25%,1991.00000,2.200000,4.000000,14.699423,15.000000,20.000000,16.000000,395.000000,1500.000000
50%,2001.00000,3.000000,6.000000,17.347895,17.000000,24.000000,19.000000,467.736842,1850.000000
75%,2010.00000,4.300000,6.000000,20.600625,20.000000,27.000000,23.000000,555.437500,2200.000000
max,2017.00000,8.400000,16.000000,47.087143,58.000000,61.000000,56.000000,1269.571429,5800.000000

In [6]:
cars.columns

Index(['Make', 'Model', 'Year', 'Engine Displacement', 'Cylinders',
       'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG',
       'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],
      dtype='object')

In [7]:
cars['Fuel Type'].value_counts()

Regular                        23587
Premium                         9921
Gasoline or E85                 1195
Diesel                           911
Premium or E85                   121
Midgrade                          74
CNG                               60
Premium and Electricity           20
Gasoline or natural gas           20
Premium Gas or Electricity        17
Regular Gas and Electricity       16
Gasoline or propane                8
Regular Gas or Electricity         2
Name: Fuel Type, dtype: int64

Drop the column "Combined MPG"

In [8]:
cars = cars.drop('Combined MPG', axis=1)

In [9]:
cars.columns

Index(['Make', 'Model', 'Year', 'Engine Displacement', 'Cylinders',
       'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'City MPG', 'Highway MPG',
       'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],
      dtype='object')

Change column names so that there are no names with spaces or weird special characters:

In [10]:
cars.rename(columns=str.lower, inplace=True)

In [11]:
cars.columns = cars.columns.str.replace(' ','_').str.replace('/','_per_')

In [12]:
cars.head()

,make,model,year,engine_displacement,cylinders,transmission,drivetrain,vehicle_class,fuel_type,fuel_barrels_per_year,city_mpg,highway_mpg,co2_emission_grams_per_mile,fuel_cost_per_year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,555.437500,2550

What brand has the most cars?

In [13]:
(
cars
    .groupby('make')['make']
    .count()
    .sort_values(ascending=False)
    .head(1)
    
)

make
Chevrolet    3643
Name: make, dtype: int64

What brand has the worse CO2 Emissions on average?

In [14]:
(
cars
    .groupby('make')
    .agg({'co2_emission_grams_per_mile':['mean', 'sum']})
    .sort_values(by=('co2_emission_grams_per_mile', 'mean'), ascending=False)
    .head(1)
    
)

       co2_emission_grams_per_mile
                              mean          sum
make
Vector                 1049.159722  4196.638889

Which brands are more environment friendly?

In [15]:
(
cars
    .groupby('make')
    .agg({'fuel_barrels_per_year':'mean'})
    .sort_values(by=('fuel_barrels_per_year'), ascending=False)

    
)

                                    fuel_barrels_per_year
make
Vector                                          38.912292
Bugatti                                         32.961000
S and S Coach Company  E.p. Dutton              32.961000
Superior Coaches Div E.p. Dutton                32.961000
Laforza Automobile Inc                          29.964545
...                                                   ...
Daihatsu                                        11.504567
Fiat                                            11.383588
Mobility Ventures LLC                           11.058538
smart                                            9.208922
Fisker                                           6.359255

[127 rows x 1 columns]

Create 4 groups (bins) of cars, by Year. We want to explore how cars have evolved decade by decade.

In [16]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 14 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   make                         35952 non-null  object
 1   model                        35952 non-null  object
 2   year                         35952 non-null  int64
 3   engine_displacement          35952 non-null  float64
 4   cylinders                    35952 non-null  float64
 5   transmission                 35952 non-null  object
 6   drivetrain                   35952 non-null  object
 7   vehicle_class                35952 non-null  object
 8   fuel_type                    35952 non-null  object
 9   fuel_barrels_per_year        35952 non-null  float64
 10  city_mpg                     35952 non-null  int64
 11  highway_mpg                  35952 non-null  int64
 12  co2_emission_grams_per_mile  35952 non-null  float64
 13  fuel_cost_per_year           35952 non-null  int64
dtypes: float64(4), int64(4), object(6)
memory usage: 3.8+ MB

In [17]:
y80er = [1984, 1985, 1986, 1987, 1988, 1989]
y90er = [1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999]
y2000er = [2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009]
y2010er = [2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017]


decades = []

for i in cars['year']:
    if i in y80er:
        decades.append('1980')
    elif i in y90er:
        decades.append('1990')
    elif i in y2000er:
        decades.append('2000')
    else: decades.append('2010')

cars['decades'] = decades

Did cars consume more gas in the eighties?

In [59]:
cars.groupby('decades').agg({'fuel_barrels_per_year':'sum'}).sort_values('fuel_barrels_per_year', ascending=False)
cars.groupby("decades")[["city_mpg", "highway_mpg"]].mean()

          city_mpg  highway_mpg
decades
1980     17.327209    22.389472
1990     16.954091    22.839639
2000     16.834199    23.205574
2010     19.546763    26.866469

Do cars with automatic transmission consume more fuel than cars with manual transmission?

In [19]:
import numpy as np

In [28]:
transmission_general = []



for i in cars['transmission']:
    if 'Auto' in i:
        transmission_general.append('automatic')
    else: transmission_general.append('manual')

cars['transmission_type'] = transmission_general

In [29]:
(
cars
    .groupby('transmission_type')
    .agg({'fuel_barrels_per_year':'sum'})
)

                   fuel_barrels_per_year
transmission_type
automatic                  438268.168711
manual                     194812.594709

Group cars by fuel type and aggregate them by the following criteria: 

- The maximum number cylinders
- The oldest year
- The average Miles Per Gallon in the city

In [38]:
(
cars
    .groupby('fuel_type')
    .agg({'city_mpg':'mean', 'cylinders':'max', 'year':'min'})
#     .reset_index()
)

                              city_mpg  cylinders  year
fuel_type
CNG                          15.966667        8.0  1993
Diesel                       21.173436       10.0  1984
Gasoline or E85              15.347280        8.0  2000
Gasoline or natural gas      13.700000        8.0  2000
Gasoline or propane          12.000000        8.0  2001
Midgrade                     14.851351        8.0  2011
Premium                      16.793166       16.0  1985
Premium Gas or Electricity   30.705882        8.0  2011
Premium and Electricity      24.900000        8.0  2014
Premium or E85               17.305785       12.0  2004
Regular                      17.970195       12.0  1984
Regular Gas and Electricity  43.125000        4.0  2012
Regular Gas or Electricity   43.000000        4.0  2016

We want to use "Drivetrain" in a statistical model. Convert the column to numeric.

###### first try:

In [41]:
drivetrainlist = cars.drivetrain.tolist()

In [44]:
cars.drivetrain.unique()

array(['2-Wheel Drive', 'Rear-Wheel Drive', 'Front-Wheel Drive',
       '4-Wheel or All-Wheel Drive', 'All-Wheel Drive', '4-Wheel Drive',
       'Part-time 4-Wheel Drive', '2-Wheel Drive, Front'], dtype=object)

In [49]:
numericlist = len(cars['drivetrain'])

In [50]:
cars['numeric_drivetrain'] = numericlist

###### second try:

In [61]:
dummies_drivetrain = pd.get_dummies(cars["drivetrain"])

In [66]:
(
pd.concat([cars, dummies_drivetrain], axis=1)
    .drop(columns={"drivetrain", "numeric_drivetrain"})
    .head(3)
)

,make,model,year,engine_displacement,cylinders,transmission,vehicle_class,fuel_type,fuel_barrels_per_year,city_mpg,...,decades,transmission_type,2-Wheel Drive,"2-Wheel Drive, Front",4-Wheel Drive,4-Wheel or All-Wheel Drive,All-Wheel Drive,Front-Wheel Drive,Part-time 4-Wheel Drive,Rear-Wheel Drive
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,Special Purpose Vehicle 2WD,Regular,19.388824,18,...,1980,automatic,1,0,0,0,0,0,0,0
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,Special Purpose Vehicle 2WD,Regular,25.354615,13,...,1980,automatic,1,0,0,0,0,0,0,0
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Special Purpose Vehicle 2WD,Regular,20.600625,16,...,1980,automatic,0,0,0,0,0,0,0,1

Read the `car_brands.csv` data:

In [51]:
brands = pd.read_csv('data/car_brands.csv')

In [71]:
brands.info()
cars.info()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127 entries, 0 to 126
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   brand       127 non-null    object
 1   revenue     127 non-null    int64
 2   production  127 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 3.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   make                         35952 non-null  object
 1   model                        35952 non-null  object
 2   year                         35952 non-null  int64
 3   engine_displacement          35952 non-null  float64
 4   cylinders                    35952 non-null  float64
 5   transmission                 35952 non-null  object
 6   drivetrain                   35952 non-null  object
 7   vehicle_class                35952 non-null  object
 8   fuel_type                    35952 non-null  object
 9   fuel_barrels_per_year        35952 non-null  float64
 10  city_mpg                     35952 non-null  int64
 11  highway_mpg                  35952 non-null  int64
 12  co2_emission_grams_per_mile  35952 non-null  float64
 13  fuel_cost_per_year           35952 non-null  int64
 14  decades                      35952 non-null  object
 15  transmission_type            35952 non-null  object
 16  numeric_drivetrain           35952 non-null  int64
dtypes: float64(4), int64(5), object(8)
memory usage: 4.7+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 35952 entries, 0 to 35951
Data columns (total 19 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   brand                        35952 non-null  object
 1   model                        35952 non-null  object
 2   year                         35952 non-null  int64
 3   engine_displacement          35952 non-null  float64
 4   cylinders                    35952 non-null  float64
 5   transmission                 35952 non-null  object
 6   drivetrain                   35952 non-null  object
 7   vehicle_class                35952 non-null  object
 8   fuel_type                    35952 non-null  object
 9   fuel_barrels_per_year        35952 non-null  float64
 10  city_mpg                     35952 non-null  int64
 11  highway_mpg                  35952 non-null  int64
 12  co2_emission_grams_per_mile  35952 non-null  float64
 13  fuel_cost_per_year           35952 non-null  int64
 14  decades                      35952 non-null  object
 15  transmission_type            35952 non-null  object
 16  numeric_drivetrain           35952 non-null  int64
 17  revenue                      35952 non-null  int64
 18  production                   35952 non-null  float64
dtypes: float64(5), int64(6), object(8)
memory usage: 5.5+ MB

Join the cars dataframe with the car brands dataframe.

In [54]:
df = cars.rename(columns={'make':'brand'}).merge(brands, how='inner', left_on='brand', right_on='brand')

Which brands have the most revenue?

In [69]:
df.groupby('brand').agg({'revenue':'sum'}).sort_values('revenue', ascending=False)

                                  revenue
brand
Dodge                             4071000
BMW                               2782143
GMC                               2501902
Chevrolet                         1825143
Nissan                            1684032
...                                   ...
Superior Coaches Div E.p. Dutton      236
ASC Incorporated                      232
E. P. Dutton, Inc.                    214
Dacia                                 204
PAS Inc - GMC                          44

[127 rows x 1 columns]

In [72]:
brands.sort_values('revenue', ascending=False)

                           brand  revenue  production
41                           Geo     1988    1.100770
121  Volga Associated Automobile     1965    0.043377
42                      Goldacre     1958    1.033823
34                       Ferrari     1946    3.009218
18                 CX Automotive     1935    2.522006
..                           ...      ...         ...
66                         Lotus       45    0.211456
19                      Cadillac       42    0.117947
91                       Pontiac       31    0.074520
82                 PAS Inc - GMC       22    1.840131
6                           Audi       18    0.814725

[127 rows x 3 columns]